@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__input-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

svg.react-datepicker__calendar-icon {
  margin-right: "15px";
  padding-right: "20px";
}
